<div>
    <div class="container vertical-center">
        <form class="container-fluid" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <header>Register</header>

                <div class="form-group col item">
                    <label>
                        Firstname
                    </label>
                    <input
                        type="text"
                        placeholder="Fill in firstname"
                        formControlName="firstName"
                        required
                        class="form-control"
                        ngModel
                        [ngClass]="{ 'is-invalid': isInValidInput('firstName') }"
                    >
                    <div *ngIf="isInValidInput('firstName')">
                        <div *ngIf="registerForm.controls['firstName'].errors.required" class="invalid-feedback">
                            Firstname is required
                        </div>
                        <div *ngIf="registerForm.controls['firstName'].errors.pattern" class="invalid-feedback">
                            Firstname must be a valid name
                        </div>
                    </div>
                </div>

                <div class="form-group col item">
                    <label>
                        Middlename
                    </label>
                    <input
                        type="text"
                        placeholder="Fill in middlename"
                        formControlName="middleName"
                        class="form-control"
                        ngModel
                        [ngClass]="{ 'is-invalid': isInValidInput('middleName') }"
                    >
                    <div *ngIf="isInValidInput('middleName')">
                        <div *ngIf="registerForm.controls['middleName'].errors.pattern" class="invalid-feedback">
                            Middlename must be a valid name
                        </div>
                    </div>
                </div>

                <div class="form-group col item">
                    <label >
                        Lastname
                    </label>
                    <input
                        type="text"
                        placeholder="Fill in lastName"
                        formControlName="lastname"
                        required
                        class="form-control"
                        ngModel
                        [ngClass]="{ 'is-invalid': isInValidInput('lastName') }"
                    >
                    <div *ngIf="isInValidInput('LastName')">
                        <div *ngIf="registerForm.controls['LastName'].errors.required" class="invalid-feedback">
                            Lastname is required
                        </div>
                        <div *ngIf="registerForm.controls['LastName'].errors.pattern" class="invalid-feedback">
                            Lastname must be a valid name
                        </div>
                    </div>
                </div>

                <div class="form-group col item">
                    <label>
                        Emailadres
                    </label>
                    <input
                        type="email"
                        placeholder="Fill in emailadres"
                        formControlName="email"
                        required
                        class="form-control"
                        ngModel
                        [ngClass]="{ 'is-invalid': isInValidInput('email') }"
                    >
                </div>
                <div *ngIf="isInValidInput('email')">
                    <div *ngIf="registerForm.controls['email'].errors.required" class="invalid-feedback">
                        Email is required
                    </div>
                    <div *ngIf="registerForm.controls['email'].errors.pattern" class="invalid-feedback">
                        Must be a valid email format
                    </div>
                </div>

                <div class="form-group col item item-last">
                    <label>
                        Password
                    </label>
                    <input
                        type="password"
                        placeholder="Fill in password"
                        formControlName="password"
                        required minlength="8"
                        class="form-control"
                        ngModel
                        [ngClass]="{ 'is-invalid': isInValidInput('password') }"
                    >
                </div>
                <div *ngIf="isInValidInput('password')">
                    <div *ngIf="registerForm.controls['password'].errors.required" class="invalid-feedback">
                        Password is required
                    </div>
                    <div *ngIf="registerForm.controls['password'].errors.minlength" class="invalid-feedback">
                        Password must be at least 8 characters
                    </div>
                </div>

            <button
            type="button"
            class="btn float-left cancel"
            (click)="cancel()"
        >
            cancel
        </button>
            <button
                type="submit"
                class="btn float-right"
                [disabled]="!registerForm.valid"
            >
                Register
            </button>
        </form>
    </div>
</div>