<div>
    <div class="container vertical-center">
        <form class="container-fluid" #form="ngForm" (ngSubmit)="onSubmit(form)">
            <header>Register</header>

                <div class="form-group col item">
                    <label>
                        Firstname
                    </label>
                    <input
                        type="text"
                        placeholder="Fill in firstname"
                        name="firstname"
                        required
                        class="form-control"
                        ngModel
                        [ngClass]="{'is-invalid' : isError}"
                    >
                </div>

                <div class="form-group col item">
                    <label>
                        Middlename
                    </label>
                    <input
                        type="text"
                        placeholder="Fill in middlename"
                        name="middlename"
                        class="form-control"
                        ngModel
                        [ngClass]="{'is-invalid' : isError}"
                    >
                </div>

                <div class="form-group col item">
                    <label >
                        Lastname
                    </label>
                    <input
                        type="text"
                        placeholder="Fill in lastname"
                        name="lastname"
                        required
                        class="form-control"
                        ngModel
                        [ngClass]="{'is-invalid' : isError}"
                    >
                </div>

                <div class="form-group col item">
                    <label>
                        Emailadres
                    </label>
                    <input
                        type="email"
                        placeholder="Fill in emailadres"
                        name="email"
                        required
                        class="form-control"
                        ngModel
                        [ngClass]="{'is-invalid' : isError}"
                    >
                </div>

                <div class="form-group col item item-last">
                    <label>
                        Password
                    </label>
                    <input
                        type="password"
                        placeholder="Fill in password"
                        name="password"
                        required
                        class="form-control"
                        ngModel
                        [ngClass]="{'is-invalid' : isError}"
                    >
                </div>

            <button
            type="button"
            class="btn float-left cancel"
            (click)="cancel()"
        >
            cancel
        </button>
            <button
                type="submit"
                class="btn float-right"
                [disabled]="!form.valid"
            >
                Register
            </button>
        </form>
    </div>
</div>