<div class="row">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">About us</h4>
            <p class="card-text">We are a very cool company with lots of efforts we put in our selling</p>
            <h6 class="card-text">Our certifications</h6>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><p>Certified seller</p></li>
                <li class="list-group-item"><p>Best sellers website 2021</p></li>
                <li class="list-group-item"><p>Best profit company</p></li>
                <li class="list-group-item"><p>Best eco company</p></li>
            </ul>
        </div>
    </div>
</div>
