<nav class="navbar navbar-expand-md nav-color">
    <a class="navbar-brand font titleColor" routerLink="/home">Piscines</a>

    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse font justify-content-between" [ngbCollapse]="isCollapsed">
        <div class="navbar-nav">
          <a class="nav-item nav-link" routerLink="/home" (click)="isCollapsed = true">Home <span class="sr-only">(current)</span></a>

          <a class="nav-item nav-link"
          routerLink="/products"
          (click)="isCollapsed = true">Products</a>

          <a class="nav-item nav-link"
          routerLink="/home"
          (click)="isCollapsed = true">About us</a>
        </div>

        <div class="navbar-nav justify-content-end">
          <div ngbDropdown  class="d-inline-block" *ngIf="isAdmin()">
            <a
              class="nav-item nav-link dropdown-toggle"
              id="dropdownMenuLink"
              ngbDropdownToggle>
              Admin
            </a>
            <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownMenuLink">
              <a
                ngbDropdownItem
                routerLink="/adminorders"
                (click)="isCollapsed = true">
                Orders
              </a>
              <a
                ngbDropdownItem
                routerLink="/productcreate"
                (click)="isCollapsed = true">
                Add Product
              </a>
              <a
                ngbDropdownItem
                routerLink="/productupdate"
                (click)="isCollapsed = true">
                Update product
              </a>
              <a
                ngbDropdownItem
                routerLink="/adminorders"
                (click)="isCollapsed = true">
                Users
              </a>
            </div>
          </div>

          <a class="nav-item nav-link"
          routerLink="/customerorders"
          (click)="isCollapsed = true"
          *ngIf="!isAdmin() && isLoggedIn()">Account</a>

          <a class="nav-item nav-link"
          routerLink="/login"
          (click)="isCollapsed = true"
          *ngIf="!isLoggedIn()">Login</a>

          <a class="nav-item nav-link"
          routerLink="/home"
          (click)="isCollapsed = true && logout()"
          *ngIf="isLoggedIn()">Logout</a>

          <a class="nav-item nav-link"
          routerLink="/cart"
          id="cart"
          (click)="isCollapsed = true"
          >
            <i class="bi bi-cart"></i>
            <span class="badge badge-pill">{{getTotalItems()}}</span>
          </a>

        </div>
    </div>

</nav>