<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand font" routerLink="/home" href="">Piscines</a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
        <div class="navbar-nav">
          <a class="nav-item nav-link font" routerLink="/home" (click)="isCollapsed = true">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link font" routerLink="/home" (click)="isCollapsed = true">Products</a>
          <a class="nav-item nav-link font" routerLink="/home" (click)="isCollapsed = true">About us</a>
          <a class="nav-item nav-link font" routerLink="/home">Disabled</a>
        </div>
    </div>

</nav>