<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand font titleColor" routerLink="/home" href="">Piscines</a>

    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse font justify-content-between" [ngbCollapse]="isCollapsed">
        <div class="navbar-nav">
          <a class="nav-item nav-link" routerLink="/home" (click)="isCollapsed = true">Home <span class="sr-only">(current)</span></a>

          <a class="nav-item nav-link"
          routerLink="/home"
          (click)="isCollapsed = true">Products</a>

          <a class="nav-item nav-link"
          routerLink="/home"
          (click)="isCollapsed = true">About us</a>
        </div>

        <div class="navbar-nav justify-content-end">

          <a class="nav-item nav-link"
          routerLink="/home"
          (click)="isCollapsed = true"
          *ngIf="isAdmin()">Admin</a>

          <a class="nav-item nav-link"
          routerLink="/login"
          (click)="isCollapsed = true"
          *ngIf="!isLoggedIn()">Login</a>

          <a class="nav-item nav-link"
          routerLink="/home"
          (click)="isCollapsed = true"
          *ngIf="isLoggedIn()">Logout</a>

        </div>
    </div>

</nav>