#itemColumn {
    padding: 10px 10px 10px 10px;
    margin-left: 20px;
    max-width: 60%;
}

#cartColumn {
    padding: 10px 10px 10px 10px;
    margin-left: 20px;
    max-width: 60%;
}

@media only screen and (max-width: 768px) {
    #cartColumn {
        margin-left: 5px;
    }
}

@media only screen and (max-width: 576px) {
    #itemColumn {
        margin: auto;
        max-width: 85%;
    }

    #cartColumn {
        margin: auto;
        max-width: 70%;
    }
}