<main>
    <div class="row row-cols-sm-1 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
        <div class="card col" *ngFor="let product of products;">
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">{{getShortenedDescription(product.description)}}...</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><h6>Price: <strong>&#x20ac;{{product.price}}</strong></h6></li>
                </ul>
                <button class="btn btn-outline-danger"
                        (click)="deleteButton(product)">
                    Delete
                </button>
                <button class="btn btn-primary float-right"
                        (click)="updateButton(product)">
                  Edit
                </button>
            </div>
            <app-modal-update [id]="product.name" [product]="product"></app-modal-update>
        </div>
    </div>
</main>
