<ngb-carousel>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="../../../assets/img/placeholder.jpg" alt="Most used kitchen tools" class="img-fluid">
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="../../../assets/img/placeholder.jpg" alt="A kenwood chef elite" class="img-fluid">
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="../../../assets/img/placeholder.jpg" alt="Pan collection" class="img-fluid">
        </div>
    </ng-template>
</ngb-carousel>