<ngb-carousel>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
        <img src="../../../assets/img/carousel/kitchentools.jpg" alt="Most used kitchen tools">
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
        <img src="../../../assets/img/carousel/Kenwood.jpg" alt="A kenwood chef elite">
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
        <img src="../../../assets/img/carousel/pans.jpg" alt="Pan collection">
        </div>
    </ng-template>
</ngb-carousel>