<div class="modal fade" tabindex="-1" [ngClass]="{'show': isShown}">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Update Product</h5>
                <button type="button" class="close" (click)="close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="container-fluid" [formGroup]="updateProductForm">
                <div *ngIf="isError" class="alert alert-danger">
                    {{errorMessage}}
                </div>
                <div class="form-group col item">
                    <label>
                        Product name
                    </label>
                    <input
                        type="text"
                        placeholder="Fill in product name"
                        formControlName="productname"
                        required
                        class="form-control"
                        [ngClass]="{ 'is-invalid': isInValidInput('productname') || isError }"
                    >
                    <div *ngIf="isInValidInput('productname')">
                        <div *ngIf="updateProductForm.controls['productname'].errors.required" class="invalid-feedback d-block">
                            Product name is required
                        </div>
                        <div *ngIf="updateProductForm.controls['productname'].errors.pattern" class="invalid-feedback d-block">
                            Product name must be a valid name
                        </div>
                    </div>
                </div>

                <div class="form-group col item">
                    <label>
                        Description
                    </label>
                    <textarea
                        class="form-control"
                        formControlName="description"
                        [ngClass]="{ 'is-invalid': isInValidInput('description') || isError }"
                    ></textarea>
                    <div *ngIf="isInValidInput('description')">
                        <div *ngIf="updateProductForm.controls['description'].errors.pattern" class="invalid-feedback d-block">
                            Description must be a valid
                        </div>
                    </div>
                </div>

                <div class="form-group col item">
                    <label >
                        Price
                    </label>
                    <input
                        type="text"
                        placeholder="Fill in the price"
                        formControlName="price"
                        required
                        class="form-control"
                        [ngClass]="{ 'is-invalid': isInValidInput('price')  || isError}"
                    >
                    <div *ngIf="isInValidInput('price')">
                        <div *ngIf="updateProductForm.controls['price'].errors.required" class="invalid-feedback d-block">
                            Price is required and must use . inplace of ,
                        </div>
                    </div>
                </div>


                <div class="form-group col item">
                    <label>
                        Stock
                    </label>
                    <input
                        type="text"
                        placeholder="Fill in stock"
                        formControlName="stock"
                        required
                        class="form-control"
                        [ngClass]="{ 'is-invalid': isInValidInput('stock')  || isError}"
                    >
                    <div *ngIf="isInValidInput('stock')">
                        <div *ngIf="updateProductForm.controls['stock'].errors.required" class="invalid-feedback d-block">
                            Stock is required
                        </div>
                    </div>
                </div>
            </form>

            <div class="modal-body">
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary mr-auto" (click)="close()">Cancel</button>
                <button type="button" class="btn btn-success"
                        (click)="update()"
                        [disabled]="isLoading">
                    <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
                    Update
                </button>
            </div>
        </div>
    </div>
</div>