<div class="modal fade" tabindex="-1" [ngClass]="{'show': isShown}">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Buying products</h5>
                <button type="button" class="close" (click)="close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                The money amount is {{getMoneyAmount()}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary mr-auto" (click)="close()">Cancel</button>
                <button type="button" class="btn btn-success" (click)="pay()">Pay</button>
            </div>
        </div>
    </div>
</div>