<div class="container-fluid">
    <div class="row">
        <div class="col border rounded box">
            <h1>Product name</h1>
            <img src="../../../assets/img/placeholder.jpg" class="img-fluid">
            <h2>Price</h2>
            <p>Description over this amazing product you can buy right now!!</p>
        </div>
        <div class="col border rounded box">
            <h1>Product name</h1>
            <img src="../../../assets/img/placeholder.jpg" class="img-fluid">
            <h2>Price</h2>
            <p>Description over this amazing product you can buy right now!!</p>
        </div>
        <div class="col border rounded box">
            <h1>Product name</h1>
            <img src="../../../assets/img/placeholder.jpg" class="img-fluid">
            <h2>Price</h2>
            <p>Description over this amazing product you can buy right now!!</p>
        </div>
    </div>
</div>