<div class="card-body">
    <h5 class="card-title">{{user.firstname}} {{user.lastname}}</h5>
    <p class="card-text">{{user.email}}</p>
    <p class="card-text">{{user.role}}</p>
    <div class="float-right card">
        <button class="btn" (click)="deleteUser()">
            Delete User
        </button>
        <button class="btn"
                (click)="setRole('user')"
                *ngIf="isAdmin()">
            Demote to user
        </button>
        <button class="btn"
                (click)="setRole('admin')"
                *ngIf="!isAdmin()">
            Promote to admin
        </button>
    </div>
</div>