<main>
    <div class="row row-cols-sm-1 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
        <div class="card col" *ngFor="let product of products;">
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">{{getShortenedDescription(product.description)}}...</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><p id="stock">Stock:  {{product.stock}}</p></li>
                    <li class="list-group-item"><h6>Price: <strong>&#x20ac;{{product.price}}</strong></h6></li>
                  </ul>
                <button class="btn btn-outline-primary"
                        (click)="openInfoModal(product)">
                    More Info
                </button>
                <button class="btn btn-primary float-right"
                        (click)="addToCart(product)">
                  Add to cart
                </button>
            </div>
            <app-product-info-modal id="{{product.name}}" product="{{product}}"></app-product-info-modal>
        </div>
    </div>
</main>
