main {
    max-width: 100%;
}

.row{
    max-width: 100%;
    justify-content: center;
}

.card {
    min-width: 30rem;
    margin: 20px;
}

#stock {
    margin: 0;
}

.list-group-item {
    padding: 0;
    border: 0;
}

button {
    margin-top: 10px;
}

@media only screen and (max-width: 768px) {
    .card {
        min-width: 25rem;
    }
}

@media only screen and (max-width: 576px) {
    .card {
        min-width: 20rem;
    }
}